* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #3189f4;
    display: flex;
    flex-direction: column;
    
}

.wrapper {
    box-sizing: content-box;
    width: 26.87em;
    padding: 2em 2.5em;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: .6em;
    box-shadow: 0 0 .9em 2.8em rgba(86, 66, 0, .2);

}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: .6em

}

.stats-container {
    text-align: right;
    margin-bottom: 1.2em;

}

.stats-container span {
    font-weight: 600;
}

.card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;


}

.card-before, .card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000000;
    transition: transform .7s ease-out;
    backface-visibility: hidden; /* 
    no conocia esta posibilidad de css, expplicacion abajo 
    La propiedad backface-visibility en CSS se utiliza para controlar la visibilidad de la cara posterior (o el "dorso") de un elemento que está siendo transformado en 3D. Esta propiedad es especialmente útil cuando se aplican transformaciones en 3D a un elemento, como rotaciones, ya que puede haber momentos en los que la cara posterior del elemento sea visible.

    Cuando estableces backface-visibility: hidden;, estás indicando que la cara posterior del elemento no debe ser visible. En otras palabras, el contenido de la cara posterior del elemento no se renderizará y será invisible para el usuario.
    */

}

.card-before{
    background-color: #3189f4;
    font-size: 2.8em;

}

.card-after{
    background-color: white;
    transform: rotateY(180deg);

}

.card-container.flipped .card-before {
    transform: rotateY(180deg);

}

.card-container.flipped .card-after {
    transform: rotateY(0deg);
}

#time {
    font-weight: 800;

}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #3189f4;
    top: 0;

}

button {
    border:  0;
    border-radius: .3em;
    padding: 1em 1.5em;
    cursor: pointer;

}

#stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #000000;
    color: #ffffff;

}

.controls-container button {
    font-size: 1.3em;
    box-shadow: 0 .6em 2em rgba(86, 66, 0, .2);

}

.hide {
    display: none;

}

#resultado {
    text-align: center;
}

#resultado h2 {
    font-size: 2.5em;

}

#resultado h4 {
    font-size: 1.8em;
    margin: .6em 0 1em 0;

}

footer {
    display: flex;
    justify-content: center;
    position:absolute ;
    top: 97%;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
    align-items: center;

}

@media screen and (max-width: 450px) {
    .wrapper {
        zoom: 70%;
    }
}